<div class="banner-index" style="background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.35)
  ), url(https://images.pexels.com/photos/1440372/pexels-photo-1440372.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <div class="container-index">
   <h1>Dark room<br>dark cocktails</h1>
   <div class="cards-category">
    <% @cocktails.each do |cocktail| %>
        <div class="card-category">
          <%= cl_image_tag cocktail.photo.key, height: 100, width: 200, crop: :fill %>
          <h2><%= cocktail.name %></h2>
          <%= link_to "Discover recipe » ", cocktail_path(cocktail) %>
        </div>
    <% end %>
    </div>
  </div>
</div>