.btn-enter {
  color: white;
  background-color: #5b565300;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #5B5653;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-enter:hover {
  background-color: #5B5653;
  border: 1px solid #5B5653;
  color: white;
  text-decoration: none;
}