.cards-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.card-category {
  height: 200px;
  width: 300px;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  border: 1px solid #bfbfbf80;
}